﻿<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SportsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>

<body>
    @* <h2 class="bg-dark text-white p-2">SportStore</h2> *@
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>

</html>