<div class="bg-dark text-white p-2">
    <div class="navbar-brand">SPORTS STORE</div>
</div>
<h2 class="text-center mt-1">Step 2: Payment</h2>
<div class="p-2">
    <form novalidate #paymentForm="ngForm">
        <div class="form-group">
            <label>Card Number</label>
            <input #cardNumber="ngModel" name="cardNumber" class="formcontrol" [(ngModel)]="order.payment.cardNumber"
                required />
            <div *ngIf="cardNumber.invalid" class="text-danger">
                Please enter your card number
            </div>
        </div>
        <div class="form-group">
            <label>Card Expiry</label>
            <input #cardExpiry="ngModel" name="cardExpiry" class="formcontrol" [(ngModel)]="order.payment.cardExpiry"
                required />
            <div *ngIf="cardExpiry.invalid" class="text-danger">
                Please enter your card expiry
            </div>
        </div>
        <div class="form-group">
            <label>Security Code</label>
            <input #cardCode="ngModel" name="cardCode" class="form-control" [(ngModel)]="order.payment.cardSecurityCode"
                required />
            <div *ngIf="cardCode.invalid" class="text-danger">
                Please enter your security code
            </div>
        </div>
        <div class="text-center pt-2">
            <button type="button" class="btn btn-outline-primary m-1" routerLink="/checkout/step1">
                Back
            </button>
            <button type="button" class="btn btn-danger m-1" [disabled]="paymentForm.invalid"
                routerLink="/checkout/step3">Next</button>
        </div>
    </form>
</div>